.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container {
    background-color: #34495e;
}

.content-item {
    display: flex;
    justify-content: space-between;
}