.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container {
    width: 60vw;
    background-color: #bdc3c7;
    margin-bottom: 1em;
}

.item {
    width: 60vw;
}

.content-item {
    display: flex;
    justify-content: space-between;
}