<div class="container">
    <div *ngFor="let event of ufcEvents; let i = index">

        <div class="sub-container">
            <mat-list>
                <mat-list-item class="item">
                    <span style="font-weight: bold; font-size: large;">Event : </span>
                    <span style="margin-left: 2em;">{{event.Name}}</span>
                </mat-list-item>

                <mat-list-item class="item">
                    <span style="font-weight: bold; font-size: large;">Date : </span>
                    <span style="margin-left: 2em;">{{event.Day | date:"dd/MM/yyyy"}}</span>
                </mat-list-item>

                <mat-list-item class="item">
                    <span style="font-weight: bold; font-size: large;">Status : </span>
                    <span style="margin-left: 2em;">{{event.Status}}</span>
                </mat-list-item>

                <mat-list-item class="item" style="height: fit-content; margin-top: 1em;">
                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: bold; font-size: large;">Fights : </span>

                        <div style="width: 45vw;">

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            This is the expansion title
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            This is a summary of the content
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                                    <mat-expansion-panel-header>
                                        <mat-panel-title style="display: flex; justify-content: space-between;">
                                            <span style="margin-left: 5em;">Confrontations</span>
                                            <span style="margin-right: 5em;">Pronostics</span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div *ngFor="let fight of event.Fights">
                                        <div style="display: flex; justify-content: space-between;">

                                            <div>
                                                <span class="p-label">{{fight.Fighters[0].FirstName}}
                                                    {{fight.Fighters[0].LastName}}</span>

                                                <span style="margin-left: 2em;">vs</span>

                                                <span class="p-label"
                                                    style="margin-left: 2em;">{{fight.Fighters[1].FirstName}}
                                                    {{fight.Fighters[1].LastName}}</span>
                                            </div>

                                            <div>
                                                <span class="p-label">pronostic : </span>
                                                <span class="p-label" style="margin-left: 3em;">
                                                    Pronostic Here !!!
                                                </span>

                                                <div
                                                    style="display: flex; justify-content: center; font-size: small; font-style: italic;">
                                                    result : <span style="margin-left: 3em;">Result here !!!</span>
                                                </div>
                                            </div>
                                        </div>

                                        <mat-divider style="margin: 0.5em;"></mat-divider>
                                    </div>

                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>
                    </div>
                </mat-list-item>
            </mat-list>

        </div>
    </div>