<div class="row justify-content-center my-4">
    <div class="col-12 col-lg-7 my-4" *ngFor="let event of ufcEvents; let i = index">

        <div class="sub-container">
            <mat-list>
                <mat-list-item class="row">
                    <span class="txt-white mx-4 txt-bold txt-large">Event : </span>
                    <span class="txt-white">{{event.Name}}</span>
                </mat-list-item>

                <mat-list-item class="row">
                    <span class="txt-white mx-4 txt-bold txt-large">Date : </span>
                    <span class="txt-white">{{event.Day | date:"dd/MM/yyyy"}}</span>
                </mat-list-item>

                <mat-list-item class="row">
                    <span class="txt-white mx-4 txt-bold txt-large">Status : </span>
                    <span class="txt-white">{{event.Status}}</span>
                </mat-list-item>

                <mat-list-item class="row" style="height: fit-content">
                    <div class="col-12 mt-4 ms-2">

                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="d-flex justify-content-center">
                                        <span class="txt-center txt-bold txt-large">-- Fights --</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                                <mat-expansion-panel-header>
                                    <mat-panel-title class="d-none d-lg-flex justify-content-between">
                                        <!-- <span class="ms-5">Confrontations</span> -->
                                        <!-- <span class="me-5">Pronostics</span> -->
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <mat-divider class="m-2"></mat-divider>

                                <div *ngFor="let fight of event.Fights">

                                    <div *ngIf="fight.Fighters.length > 0">

                                        <div class="d-none d-lg-flex justify-content-center">

                                            <div class="mt-2">
                                                <span class="txt-large">{{fight.Fighters[0].FirstName}}
                                                    {{fight.Fighters[0].LastName}}</span>

                                                <span class="ms-2">-vs-</span>

                                                <span class="ms-2 txt-large">{{fight.Fighters[1].FirstName}}
                                                    {{fight.Fighters[1].LastName}}</span>
                                            </div>

                                            <!-- <div>
                                                <span class="mx-2 txt-large">pronostic : </span>
                                                <span class=" txt-large">Pronostic Here !!!</span>

                                                <div class="d-flex justify-content-center txt-small txt-italic">
                                                    <span class="mx-2">result : </span>
                                                    <span>Result here !!!</span>
                                                </div>
                                            </div> -->
                                        </div>


                                        <div class="row d-lg-none">

                                            <div class="col-12 mt-2 d-flex justify-content-center">
                                                <span class="txt-large">{{fight.Fighters[0].FirstName}}
                                                    {{fight.Fighters[0].LastName}}</span>

                                                <span class="ms-2">-vs-</span>

                                                <span class="ms-2 txt-large">{{fight.Fighters[1].FirstName}}
                                                    {{fight.Fighters[1].LastName}}</span>
                                            </div>

                                            <div>
                                                <div class="d-flex justify-content-center txt-large">
                                                    <span class="mx-2">pronostic : </span>
                                                    <span>Pronostic Here !!!</span>
                                                </div>

                                                <div class="d-flex justify-content-center txt-small txt-italic">
                                                    <span class="mx-2">result : </span>
                                                    <span>Result here !!!</span>
                                                </div>
                                            </div>
                                        </div>

                                        <mat-divider class="m-2"></mat-divider>
                                    </div>


                                </div>

                            </mat-expansion-panel>
                        </mat-accordion>

                    </div>
                </mat-list-item>
            </mat-list>

        </div>
    </div>
</div>