<mat-toolbar class="container">
    <mat-toolbar-row class="logo-row">
        <span class="logo">PerformMMA</span>

        <ul class="nav-items">
            <li><button class="nav-item"><a class="nav-link" routerLink='/ngr-home'>Accueil</a></button></li>
            <li><button class="nav-item"><a class="nav-link" routerLink='/ngr-rankings'>Classements</a></button></li>
            <li><button class="nav-item"><a class="nav-link"
                        routerLink='/ngr-configurations'>Configurations</a></button></li>
            <li><button class="nav-item"><a class="nav-link" routerLink='/ngr-pronostics'>Pronostics</a></button></li>
            <li><button class="nav-item"><a class="nav-link" routerLink='/ngr-graphs'>Graphes résultats</a></button>
            </li>
            <li><button class="nav-item"><a class="nav-link" routerLink='/ngr-help'>Aide</a></button></li>
        </ul>

        <form class="input-form">
            <input class="search-input" placeholder="Tapez votre recherche ici !">
            <button class="search-btn">
                <mat-icon class="search-icon">search</mat-icon>
            </button>
        </form>

        <div class="user">
            <button class="user-btn">
                <a class="user-link" routerLink="#">Connexion</a>
            </button>

            <button class="user-btn">
                <a class="user-link" routerLink="#">Inscription</a>
            </button>
        </div>

    </mat-toolbar-row>

</mat-toolbar>

<mat-toolbar class="container2">
    <mat-toolbar-row class="logo-row2">

        <button class="menu-btn">
            <mat-icon style="color: whitesmoke;">reorder</mat-icon>
        </button>

        <span class="logo2">PerformMMA</span>

    </mat-toolbar-row>

</mat-toolbar>