<!-- Navigation-->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top d-flex justify-content-between" id="mainNav">
    <div class="container">
        <div class="d-flex justify-content-center w-100">
            <div class="col-lg-8 w-100">

                <div class="d-flex justify-content-around">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand logo d-flex align-items-center" routerLink="/ngr-home">
                        <div class="fs-5 me-3">
                            PERFORM <span class="text-white">MMA</span>
                        </div>
                        <img class="logo_img" src="/assets/img/fighter_logo.png" alt="logo">
                    </a>

                    <!-- is displayed when the screen goes above 1200px -->
                    <div class="d-none d-xl-flex" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/ngr-home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/ngr-user/ngr-rankings">Rankings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/ngr-user/ngr-profiles">Fighter profiles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" routerLink="/ngr-user/ngr-pronostics">Pronostics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" routerLink="/ngr-user/ngr-charts">Charts</a>
                            </li>
                        </ul>
                    </div>

                    <ul class="navbar-nav me-4 col-2 d-xl-none d-flex justify-content-center align-items-center">

                        <li *ngIf="this.authService.isAuthenticated==true"
                            class="nav-item d-flex align-items-center justify-content-center mb-2 mb-xl-0">
                            <div class="ms-2 text-success d-flex fw-bold">{{authService.username |
                                titlecase}}
                            </div>
                        </li>

                        <li class="nav-item d-flex align-items-center">

                            <div *ngIf="this.authService.isAuthenticated==false" class="btn btn-outline-secondary">
                                <a class="nav-link d-flex align-items-center justify-content-center"
                                    routerLink="/ngr-login" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    </svg>

                                    <div class="ms-2">login</div>
                                </a>
                            </div>

                            <div class="btn btn-outline-secondary" *ngIf="this.authService.isAuthenticated==true">

                                <a class="nav-link d-flex align-items-center justify-content-center"
                                    (click)="handleLogout()">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-box-arrow-right ms-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                        <path fill-rule="evenodd"
                                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                    </svg>

                                    <div class="ms-2">
                                        <span>logout</span>
                                    </div>
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>


                <!-- is displayed when the screen goes below 1200px -->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto d-xl-none">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/ngr-home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/ngr-user/ngr-rankings">Rankings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/ngr-user/ngr-profiles">Fighter profiles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" routerLink="/ngr-user/ngr-pronostics">Pronostics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" routerLink="/ngr-user/ngr-charts">Charts</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- User Profile - is displayed when the screen goes above 1200px -->
    <ul class="navbar-nav col-2 d-none d-xl-flex">
        <li *ngIf="this.authService.isAuthenticated==true" class="nav-item d-flex align-items-center">
            <div class="ms-2 text-success fw-bold">{{authService.username | titlecase}}</div>
        </li>

        <li class="nav-item d-flex align-items-center justify-content-end pe-4 w-100">

            <div *ngIf="this.authService.isAuthenticated==false" class="btn btn-outline-secondary">
                <a class="nav-link d-flex align-items-center justify-content-center" routerLink="/ngr-login"
                    role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>

                    <div class="ms-2">login</div>
                </a>
            </div>

            <div class="btn btn-outline-secondary" *ngIf="this.authService.isAuthenticated==true">

                <a class="nav-link d-flex align-items-center justify-content-center" (click)="handleLogout()">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-box-arrow-right ms-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg>

                    <div class="ms-2">
                        <span>logout</span>
                    </div>
                </a>
            </div>

        </li>
    </ul>
</nav>