.container {
    background: linear-gradient(45deg, black, black, #2d3436, #96a4a5, #2d3436, black, black);
    background-size: 200% 200%;
    animation: color 25s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.logo {
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
    color: #e74c3c;
    text-shadow: 15px 15px #2d3436;
}

.nav-container {
    justify-content: center;
}

.nav-links {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    list-style-type: none;
}

.nav-link {
    text-decoration-line: none;
    color: antiquewhite;
    transform: scale(0.98);
}

.nav-link:hover {
    transform: scale(1);
    font-weight: bolder;
}

.nav-li {
    border: 1px solid #96a4a5;
    padding: 0.3em 1em;
    border-radius: 5%;
}

.bar-logo {
    display: flex;
    justify-content: space-between;
}

.profil {
    margin-top: 3em;
}

.form-container {
    margin-top: 2em;
}

.form-input {
    width: 30vw;
    height: 4em;
}

.profil-content {
    padding: 0.3em 1em;
    border: 1px solid #96a4a5;
    border-radius: 5%;
}

.profil-link {
    color: antiquewhite;
    text-decoration-line: none;
    transform: scale(0.98);
}

.profil-link:hover {
    transform: scale(1);
    font-weight: bold;
}

.search-icon {
    font-size: 3em;
}

// .small-zoom {
//     transform: scale(0.98);
//     transition: 0.6s;
// }

// .small-zoom:hover {
//     transform: scale(1);
//     border-width: 4px;
//     border-style: solid;
// }