@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.header-container {
    background: linear-gradient(45deg, #2c3e50, #2c3e50, #7f8c8d, #2c3e50, black, black);
    background-size: 180% 180%;
    animation: color 45s ease infinite;
    position: fixed;
    z-index: 999;
}

.logo {
    font-weight: bold;
    font-size: 1.4em;
    color: #e74c3c;
    text-shadow: 15px 15px #2c3e50;
    font-family: 'StalinistOne';
}

.logo_img {
    width: 1.4em;
    height: 1.4em;
}

.logo-row {
    justify-content: space-between;
}

.logo-row2 {
    justify-content: space-between;
    padding-right: 4em;
}

.logo2 {
    font-weight: bold;
    font-size: 1.5em;
    color: #e74c3c;
    text-shadow: 15px 15px #2c3e50;
}

.user-link {
    color: white;
    text-decoration-line: none;
    text-align: center;
}

.user-name::before {
    content: "\2022";
    color: #4cd137;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.menu-btn {
    background: linear-gradient(135deg, #34495e, #34495e, #7f8c8d);
}