@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.footer-container {
    background: linear-gradient(45deg, #2c3e50, #2c3e50, #7f8c8d, #2c3e50, black, black);
    background-size: 180% 180%;
    animation: color 45s ease infinite;
    position: sticky;
    z-index: 998;
}

.row-padding {
    padding: 4em 20em 0 0;
}

.row-padding-lg {
    padding: 4em 0 4em 0;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
    color: #e74c3c;
    text-shadow: 15px 15px #2c3e50;
}

p,
span,
.nav-link,
.social-link {
    color: whitesmoke;
}