<mat-toolbar class="container">
    <mat-toolbar-row class="logo-row">
        <span class="logo">PerformMMA</span>
    </mat-toolbar-row>

    <mat-toolbar-row class="nav-row">
        <div class="uls-container">
            <ul class="social-links">
                <li class="social-item"><a class="social-link" routerLink="#">icon twitter</a></li>
                <li class="social-item"><a class="social-link" routerLink="#">icon facebook</a></li>
                <li class="social-item"><a class="social-link" routerLink="#">icon whatsapp</a></li>
                <li class="social-item"><a class="social-link" routerLink="#">icon linkedin</a></li>
            </ul>

            <ul class="nav-links">
                <li class="nav-li"><a class="nav-link" routerLink='/ngr-home'>Accueil</a></li>
                <li class="nav-li"><a class="nav-link" routerLink='/ngr-rankings'>Classements</a></li>
                <li class="nav-li"><a class="nav-link" routerLink='/ngr-configurations'>Configurations</a></li>
                <li class="nav-li"><a class="nav-link" routerLink='/ngr-pronostics'>Pronostics</a></li>
                <li class="nav-li"><a class="nav-link" routerLink='/ngr-graphs'>Graphes résultats</a></li>
                <li class="nav-li"><a class="nav-link" routerLink='/ngr-help'>Contact</a></li>
            </ul>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="cp-row">
        <span style="margin-right: 1em;">Projet Isika</span>
        <p>@Copyright 2023</p>
    </mat-toolbar-row>

</mat-toolbar>