<div class="row my-4 justify-content-center">
    <div class="col-12 col-sm-10">

        <div class="row">

            <div class="col-12 d-xl-none mt-4">
                <mat-accordion>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                        <mat-expansion-panel-header class="right-side-color">
                            <mat-panel-title class="d-flex justify-content-center">
                                <h1 class="txt-white" style="font-weight: bold; text-align: center;">My preferences</h1>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="d-flex flex-column justify-content-center right-side-color"
                            style="height: fit-content;">
                            <h1 class="txt-white" style="font-weight: bold; text-align: center;">My preferences</h1>

                            <mat-list>
                                <mat-list-item class="item">
                                    <div class="content-item d-flex justify-content-between">
                                        <p class="txt-white">First preference</p>
                                        <div>
                                            <p class="txt-active">active</p>
                                        </div>
                                    </div>
                                </mat-list-item>

                                <mat-divider style="border-color: beige;"></mat-divider>

                                <mat-list-item class="item">
                                    <div class="content-item d-flex justify-content-between align-items-center">
                                        <p class="txt-white">Second preference</p>
                                        <div>
                                            <button class="p-2 ms-2" style="border-radius: 15%;">modify</button>
                                            <button class="p-2 ms-2" style="border-radius: 15%;">activate</button>
                                        </div>
                                    </div>
                                </mat-list-item>

                                <mat-divider style="border-color: beige;"></mat-divider>

                                <mat-list-item class="item">
                                    <div class="content-item d-flex justify-content-between align-items-center">
                                        <p class="txt-white">Third preference</p>
                                        <div>
                                            <button class="p-2 ms-2" style="border-radius: 15%;">modify</button>
                                            <button class="p-2 ms-2" style="border-radius: 15%;">activate</button>
                                        </div>
                                    </div>
                                </mat-list-item>

                                <mat-divider style="border-color: beige;"></mat-divider>

                                <mat-list-item class="item">
                                    <div class="content-item d-flex justify-content-between align-items-center">
                                        <p class="txt-white">Default</p>
                                        <div>
                                            <button class="p-2 ms-2"
                                                style="background-color: #e1b12c; border-radius: 15%;">activate</button>
                                        </div>
                                    </div>
                                </mat-list-item>
                            </mat-list>

                        </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="col-12 col-xl-8">
                <h1 class="txt-bold txt-center">Set a
                    preference</h1>
                <mat-divider></mat-divider>

                <mat-list class="d-none d-md-block">
                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>
                            <p class="txt-bold txt-center">Number of fights : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="fights"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>
                            <p class="txt-bold txt-center">Wins : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="wins"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>

                            <p class="txt-bold txt-center">Wins by knockout : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="kowins"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>

                            <p class="txt-bold txt-center">Wins by submission : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="submissionwins"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>

                            <p class="txt-bold txt-center">Successful strikes : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="strikes"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>

                            <p class="txt-bold txt-center">Blows given / taken ratio : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="strikesratio"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>

                            <p class="txt-bold txt-center">Successful takedowns : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="takedowns"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>

                            <p class="txt-bold txt-center">Takedown defenses : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="takedowndefense"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>

                            <p class="txt-bold txt-center">Takedowns attempted / suffered ratio : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="takedownsratio"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>

                            <p class="txt-bold txt-center">Overall performance index : </p>

                            <mat-radio-group class="d-flex justify-content-around" [(ngModel)]="ipsg"
                                aria-label="Select an option">
                                <mat-radio-button value="1">Not important</mat-radio-button>
                                <mat-radio-button value="2">Important</mat-radio-button>
                                <mat-radio-button value="3">Very important</mat-radio-button>
                                <mat-radio-button value="4">Essential</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider style="margin-bottom: 2em;"></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <form [formGroup]="formPreference" (ngSubmit)="handlePreference()"
                            class="mt-4 d-flex justify-content-around align-items-center">

                            <mat-form-field>
                                <mat-label>Set name</mat-label>
                                <input formControlName="preferenceName" matInput placeholder="Ex. Preference" value="">
                            </mat-form-field>

                            <button class="p-2" style="background-color: #44bd32; border-radius: 15%;">Validate</button>

                        </form>
                    </mat-list-item>
                </mat-list>


                <mat-list class="d-md-none">
                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>
                            <p class="txt-bold txt-center">Number of fights : </p>

                            <mat-radio-group class="row justify-content-center" [(ngModel)]="fights"
                                aria-label="Select an option">

                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>
                            <p class="txt-bold txt-center">Wins : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="wins"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>

                            <p class="txt-bold txt-center">Wins by knockout : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="kowins"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>

                            <p class="txt-bold txt-center">Wins by submission : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="submissionwins"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>

                            <p class="txt-bold txt-center">Successful strikes : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="strikes"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>

                            <p class="txt-bold txt-center">Blows given / taken ratio : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="strikesratio"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>

                            <p class="txt-bold txt-center">Successful takedowns : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="takedowns"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>

                            <p class="txt-bold txt-center">Takedown defenses : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="takedowndefense"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <div>

                            <p class="txt-bold txt-center">Takedowns attempted / suffered ratio : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="takedownsratio"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content; background-color: #ecf0f1;">
                        <div>

                            <p class="txt-bold txt-center">Overall performance index : </p>

                            <mat-radio-group class="row justify-content-around" [(ngModel)]="ipsg"
                                aria-label="Select an option">
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="1">Not
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="2">Important</mat-radio-button>
                                </div>
                                <div class="col-12 col-sm-10 d-flex">
                                    <mat-radio-button class="col-5 txt-center" value="3">Very
                                        important</mat-radio-button>
                                    <mat-radio-button class="col-5 txt-center" value="4">Essential</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-list-item>

                    <mat-divider style="margin-bottom: 2em;"></mat-divider>

                    <mat-list-item class="pb-4" style="height: fit-content;">
                        <form [formGroup]="formPreference" (ngSubmit)="handlePreference()"
                            class="mt-4 d-flex justify-content-around align-items-center">

                            <mat-form-field>
                                <mat-label>Set name</mat-label>
                                <input formControlName="preferenceName" matInput placeholder="Ex. Preference" value="">
                            </mat-form-field>

                            <button class="p-2" style="background-color: #44bd32; border-radius: 15%;">Validate</button>

                        </form>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="col-4 d-none d-xl-flex flex-column justify-content-center mt-5 right-side-color"
                style="height: fit-content;">
                <h1 class="txt-white" style="font-weight: bold; text-align: center;">My preferences</h1>

                <mat-list>
                    <mat-list-item class="item">
                        <div class="content-item d-flex justify-content-between">
                            <p class="txt-white">First preference</p>
                            <div>
                                <p class="txt-active">active</p>
                            </div>
                        </div>
                    </mat-list-item>

                    <mat-divider style="border-color: beige;"></mat-divider>

                    <mat-list-item class="item">
                        <div class="content-item d-flex justify-content-between align-items-center">
                            <p class="txt-white">Second preference</p>
                            <div>
                                <button class="p-2 ms-2" style="border-radius: 15%;">modify</button>
                                <button class="p-2 ms-2" style="border-radius: 15%;">activate</button>
                            </div>
                        </div>
                    </mat-list-item>

                    <mat-divider style="border-color: beige;"></mat-divider>

                    <mat-list-item class="item">
                        <div class="content-item d-flex justify-content-between align-items-center">
                            <p class="txt-white">Third preference</p>
                            <div>
                                <button class="p-2 ms-2" style="border-radius: 15%;">modify</button>
                                <button class="p-2 ms-2" style="border-radius: 15%;">activate</button>
                            </div>
                        </div>
                    </mat-list-item>

                    <mat-divider style="border-color: beige;"></mat-divider>

                    <mat-list-item class="item">
                        <div class="content-item d-flex justify-content-between align-items-center">
                            <p class="txt-white">Default</p>
                            <div>
                                <button class="p-2 ms-2"
                                    style="background-color: #e1b12c; border-radius: 15%;">activate</button>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>

            </div>
        </div>

    </div>
</div>