<div class="container">

    <div class="left-side">
        <h1 style="font-weight: bold; text-align: center; color: beige;;">My preferences</h1>

        <mat-list>
            <mat-list-item class="item">
                <div class="content-item">
                    <p class="p-label">First preference</p>
                    <div style="display: flex;">
                        <p style="color: #4cd137;">active</p>
                    </div>
                </div>
            </mat-list-item>

            <mat-divider style="border-color: beige;"></mat-divider>

            <mat-list-item class="item">
                <div class="content-item">
                    <p class="p-label">Second preference</p>
                    <div style="display: flex;">
                        <button style=" height: 30px; margin-left: 1em;">modify</button>
                        <button style=" height: 30px; margin-left: 1em;">activate</button>
                    </div>
                </div>
            </mat-list-item>

            <mat-divider style="border-color: beige;"></mat-divider>

            <mat-list-item class="item">
                <div class="content-item">
                    <p class="p-label">Third preference</p>
                    <div style="display: flex;">
                        <button style=" height: 30px; margin-left: 1em;">modify</button>
                        <button style=" height: 30px; margin-left: 1em;">activate</button>
                    </div>
                </div>
            </mat-list-item>

            <mat-divider style="border-color: beige;"></mat-divider>

            <mat-list-item class="item">
                <div class="content-item">
                    <p class="p-label">Default</p>
                    <div style="display: flex;">
                        <button style="height: 30px; margin-left: 1em; background-color: #e1b12c;">activate</button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>

    </div>


    <div class="right-side">
        <h1 style="font-weight: bold; text-align: center;">Set a preference</h1>

        <mat-list>
            <mat-list-item>
                <div class="content-item">
                    <p>Number of fights</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Not important</mat-radio-button>
                        <mat-radio-button value="2">Important</mat-radio-button>
                        <mat-radio-button value="3">Very important</mat-radio-button>
                        <mat-radio-button value="4">Essential</mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Win percentage</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Winning percentage by knockout</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Percentage of wins by submission</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Percentage of successful strikes</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Ratio of blows given / blows taken</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Percentage of successful takedowns</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Percentage of takedown defenses</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Ratio of attempted takedowns / sudden takedowns</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="content-item">
                    <p>Overall statistical performance index</p>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"><span style="color: white;">Not important</span></mat-radio-button>
                        <mat-radio-button value="2"><span style="color: white;">Important</span></mat-radio-button>
                        <mat-radio-button value="3"><span style="color: white;">Very important</span></mat-radio-button>
                        <mat-radio-button value="4"><span style="color: white;">Essential</span></mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-list-item>

            <mat-divider style="margin-bottom: 2em;"></mat-divider>

            <mat-list-item>
                <form style="margin-top: 2em; display: flex; justify-content: space-around;">
                    <mat-form-field style="width: 20vw;">
                        <mat-label>Set name</mat-label>
                        <input matInput placeholder="Ex. My Preference" value="">
                    </mat-form-field>
                    <button style="height: 40px; width: 10vw; background-color: #44bd32;">Validate</button>
                </form>
            </mat-list-item>
        </mat-list>
    </div>

</div>