<div class="container">

    <mat-form-field style="width: 40vw;">
        <mat-label>Choisissez une catégorie de classement</mat-label>
        <mat-select [(value)]="selectedRanking">
            <mat-option *ngFor="let selectLabel of selectLabels" [value]="selectLabel.value">
                {{selectLabel.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="sub-container">

        <div class="item">
            <app-men-flyweight [menFlyweight]="menFlyweight" [selectedRanking]="selectedRanking">
            </app-men-flyweight>
        </div>

        <div class="item">
            <app-men-bantamweight [menBantamweight]="menBantamweight" [selectedRanking]="selectedRanking">
            </app-men-bantamweight>
        </div>

        <div class="item">
            <app-men-featherweight [menFeatherweight]="menFeatherweight" [selectedRanking]="selectedRanking">
            </app-men-featherweight>
        </div>

    </div>

    <div class="sub-container">

        <div class="item">
            <app-men-lightweight [menLightweight]="menLightweight" [selectedRanking]="selectedRanking">
            </app-men-lightweight>
        </div>

        <div class="item">
            <app-men-welterweight [menWelterweight]="menWelterweight" [selectedRanking]="selectedRanking">
            </app-men-welterweight>
        </div>

        <div class="item">
            <app-men-middleweight [menMiddleweight]="menMiddleweight" [selectedRanking]="selectedRanking">
            </app-men-middleweight>
        </div>
    </div>

    <div class="sub-container">

        <div class="item">
            <app-men-lightheavyweight [menLightHeavyweight]="menLightHeavyweight" [selectedRanking]="selectedRanking">
            </app-men-lightheavyweight>
        </div>

        <div class="item">
            <app-men-heavyweight [menHeavyweight]="menHeavyweight" [selectedRanking]="selectedRanking">
            </app-men-heavyweight>
        </div>
    </div>
</div>