<div class="container">

    <mat-form-field style="width: 40vw;">
        <mat-label>Choisissez une catégorie de classement</mat-label>
        <mat-select>
            <mat-option *ngFor="let selectLabel of selectLabels" [value]="selectLabel.value">
                {{selectLabel.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="sub-container">

        <div class="item">
            <h4 class="cat-label">Poids Mouches</h4>

            <table class="mat-elevation-z8">
                <tr>
                    <th>Nom</th>
                    <th>Division</th>
                    <th>Combats</th>
                </tr>
                <ng-container *ngFor="let element of rankingsByfights.menFlyweight">
                    <tr>
                        <td>{{element.Name}}</td>
                        <td>{{element.Division}}</td>
                        <td style="display: flex; justify-content: center;">{{element.NumberFights}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>

        <div class="item">

            <h4 class="cat-label">Poids Coqs</h4>

            <table class="mat-elevation-z8">
                <tr>
                    <th>Nom</th>
                    <th>Division</th>
                    <th>Combats</th>
                </tr>
                <ng-container *ngFor="let element of rankingsByfights.menBantamweight">
                    <tr>
                        <td>{{element.Name}}</td>
                        <td>{{element.Division}}</td>
                        <td style="display: flex; justify-content: center;">{{element.NumberFights}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>

        <div class="item">

            <h4 class="cat-label">Poids Plumes</h4>

            <table class="mat-elevation-z8">
                <tr>
                    <th>Nom</th>
                    <th>Division</th>
                    <th>Combats</th>
                </tr>
                <ng-container *ngFor="let element of rankingsByfights.menFeatherweight">
                    <tr>
                        <td>{{element.Name}}</td>
                        <td>{{element.Division}}</td>
                        <td style="display: flex; justify-content: center;">{{element.NumberFights}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>

    </div>

    <div class="sub-container">

        <div class="item">

            <h4 class="cat-label">Poids Légers</h4>


        </div>

        <div class="item">

            <h4 class="cat-label">Poids Mi-Moyens</h4>


        </div>

        <div class="item">

            <h4 class="cat-label">Poids Moyens</h4>


        </div>

    </div>

    <div class="sub-container">

        <div class="item">

            <h4 class="cat-label">Poids Mi-Lourds</h4>


        </div>

        <div class="item">

            <h4 class="cat-label">Poids Lourds</h4>

        </div>

    </div>
</div>