<div class="row justify-content-center" style="margin: 0; min-height: 100vh;">

    <div class="col-10 col-sm-8">
        <mat-form-field style="width: 100%;">
            <mat-label>Choose ranking category</mat-label>
            <mat-select [(value)]="selectedRanking">
                <mat-option *ngFor="let selectLabel of selectLabels" [value]="selectLabel.value">
                    {{selectLabel.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-10 mt-4 d-none d-xxl-block">
        <div class="row justify-content-between">
            <div class="col-5">
                <app-men-flyweight [menFlyweight]="menFlyweight" [selectedRanking]="selectedRanking">
                </app-men-flyweight>
            </div>

            <div class="col-5">
                <app-men-bantamweight [menBantamweight]="menBantamweight" [selectedRanking]="selectedRanking">
                </app-men-bantamweight>
            </div>
        </div>
    </div>

    <div class="col-10 mt-4 d-none d-xxl-block">
        <div class="row justify-content-between">
            <div class="col-5">
                <app-men-featherweight [menFeatherweight]="menFeatherweight" [selectedRanking]="selectedRanking">
                </app-men-featherweight>
            </div>

            <div class="col-5">
                <app-men-lightweight [menLightweight]="menLightweight" [selectedRanking]="selectedRanking">
                </app-men-lightweight>
            </div>
        </div>
    </div>

    <div class="col-10 mt-4 d-none d-xxl-block">
        <div class="row justify-content-between">
            <div class="col-5">
                <app-men-welterweight [menWelterweight]="menWelterweight" [selectedRanking]="selectedRanking">
                </app-men-welterweight>
            </div>

            <div class="col-5">
                <app-men-middleweight [menMiddleweight]="menMiddleweight" [selectedRanking]="selectedRanking">
                </app-men-middleweight>
            </div>
        </div>
    </div>

    <div class="col-10 mt-4 d-none d-xxl-block">
        <div class="row justify-content-between">
            <div class="col-5">
                <app-men-lightheavyweight [menLightHeavyweight]="menLightHeavyweight"
                    [selectedRanking]="selectedRanking">
                </app-men-lightheavyweight>
            </div>

            <div class="col-5">
                <app-men-heavyweight [menHeavyweight]="menHeavyweight" [selectedRanking]="selectedRanking">
                </app-men-heavyweight>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-men-flyweight [menFlyweight]="menFlyweight" [selectedRanking]="selectedRanking">
        </app-men-flyweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-men-bantamweight [menBantamweight]="menBantamweight" [selectedRanking]="selectedRanking">
        </app-men-bantamweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-men-featherweight [menFeatherweight]="menFeatherweight" [selectedRanking]="selectedRanking">
        </app-men-featherweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-men-lightweight [menLightweight]="menLightweight" [selectedRanking]="selectedRanking">
        </app-men-lightweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-men-welterweight [menWelterweight]="menWelterweight" [selectedRanking]="selectedRanking">
        </app-men-welterweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-men-middleweight [menMiddleweight]="menMiddleweight" [selectedRanking]="selectedRanking">
        </app-men-middleweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-men-lightheavyweight [menLightHeavyweight]="menLightHeavyweight" [selectedRanking]="selectedRanking">
        </app-men-lightheavyweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-men-heavyweight [menHeavyweight]="menHeavyweight" [selectedRanking]="selectedRanking">
        </app-men-heavyweight>
    </div>
</div>