<div class="row justify-content-center" style="margin: 0; min-height: 100vh;">

    <div class="col-10 col-sm-8">
        <mat-form-field style="width: 100%;">
            <mat-label>Choisissez une catégorie de classement</mat-label>
            <mat-select [(ngModel)]="selectedRanking">
                <mat-option *ngFor="let selectLabel of selectLabels" [value]="selectLabel.value">
                    {{selectLabel.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-10 mt-4 d-none d-xxl-block">
        <div class="row justify-content-between">
            <div class="col-5">
                <app-women-strawweight [womenStrawweight]="womenStrawweight" [selectedRanking]="selectedRanking">
                </app-women-strawweight>
            </div>

            <div class="col-5">
                <app-women-flyweight [womenFlyweight]="womenFlyweight" [selectedRanking]="selectedRanking">
                </app-women-flyweight>
            </div>
        </div>
    </div>

    <div class="col-10 mt-4 d-none d-xxl-block">
        <div class="row justify-content-between">
            <div class="col-5">
                <app-women-bantamweight [womenBantamweight]="womenBantamweight" [selectedRanking]="selectedRanking">
                </app-women-bantamweight>
            </div>

            <div class="col-5">
                <app-women-featherweight [womenFeatherweight]="womenFeatherweight" [selectedRanking]="selectedRanking">
                </app-women-featherweight>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-women-strawweight [womenStrawweight]="womenStrawweight" [selectedRanking]="selectedRanking">
        </app-women-strawweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-women-flyweight [womenFlyweight]="womenFlyweight" [selectedRanking]="selectedRanking">
        </app-women-flyweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-women-bantamweight [womenBantamweight]="womenBantamweight" [selectedRanking]="selectedRanking">
        </app-women-bantamweight>
    </div>

    <div class="col-12 col-sm-10 d-xxl-none">
        <app-women-featherweight [womenFeatherweight]="womenFeatherweight" [selectedRanking]="selectedRanking">
        </app-women-featherweight>
    </div>
</div>