<div class="container">

    <mat-form-field style="width: 40vw;">
        <mat-label>Choisissez une catégorie de classement</mat-label>
        <mat-select [(ngModel)]="selectedRanking">
            <mat-option *ngFor="let selectLabel of selectLabels" [value]="selectLabel.value">
                {{selectLabel.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="sub-container">
        <div class="item">
            <app-women-strawweight [womenStrawweight]="womenStrawweight" [selectedRanking]="selectedRanking">
            </app-women-strawweight>
        </div>

        <div class="item">
            <app-women-flyweight [womenFlyweight]="womenFlyweight" [selectedRanking]="selectedRanking">
            </app-women-flyweight>
        </div>

        <div class="item">
            <app-women-bantamweight [womenBantamweight]="womenBantamweight" [selectedRanking]="selectedRanking">
            </app-women-bantamweight>
        </div>
    </div>

    <div class="sub-container">
        <div class="item">
            <app-women-featherweight [womenFeatherweight]="womenFeatherweight" [selectedRanking]="selectedRanking">
            </app-women-featherweight>
        </div>
    </div>
</div>