<div class="container">
    <app-header></app-header>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <ul style="justify-content: space-around; width: 15vw;" class="nav-items">
                <li><button class="nav-item"><a style="text-decoration-line: none;"
                            routerLink='/ngr-admin'>Administration</a></button>
                </li>
                <li><button class="nav-item"><a style="text-decoration-line: none;"
                            routerLink='/ngr-mod'>Modération</a></button></li>
            </ul>
        </div>
        <div style="margin: 1em 4em;">
            <ul>
                <li *ngIf="authService.isAuthenticated==true">{{this.authService.username}}</li>
                <li *ngIf="authService.isAuthenticated==true">{{this.authService.roles}}</li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>