.app-sub-container {
    padding: 0;
}

.user-name::before {
    content: "\2022";
    color: #4cd137;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.drawer {
    position: fixed;
    z-index: 997;
    top: 8vh;
    height: 100vh;
    background: linear-gradient(#2c3e50, #7f8c8d, #7f8c8d, #2c3e50);
}

.nav-link {
    color: white;
    text-decoration: none;
}