<div class="container">
    <app-header></app-header>

    <div *ngIf="authService.isAuthenticated==true" style="display: flex; justify-content: space-between;">
        <div style="width: 15vw;">
            <ul style="justify-content: space-around;" class="nav-items">
                <li>
                    <button *ngIf="this.authService.roles.includes('ADMIN')" class="nav-item">
                        <a style="text-decoration-line: none;" routerLink='/ngr-admin'>Administration</a>
                    </button>
                </li>
                <li>
                    <button *ngIf="this.authService.roles.includes('MOD')" class="nav-item">
                        <a style="text-decoration-line: none;" routerLink='/ngr-mod'>Modération</a>
                    </button>
                </li>
            </ul>
        </div>

        <div style="margin-right: 4em;">
            <ul>
                <li>{{this.authService.username}}</li>
                <li>{{this.authService.roles}}</li>
            </ul>
        </div>
    </div>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>