<section class="" id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">

            <div class="col-lg-8 p-0">

                <div class="d-flex justify-content-between align-items-center border rounded-top">
                    <h4 class="ms-4 fw-bold">ESPN</h4>
                    <mat-paginator [pageSizeOptions]="[3, 5]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

                <!-- Big card display -->
                <div class="d-flex">
                    <div class="card col-lg-7 border-0 mat-elevation-z8 me-1">
                        <img src={{bigCard?.urlToImage}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mb-4">{{bigCard?.title}}</h5>
                            <p class="card-text text-justify">{{bigCard?.description}}</p>
                            <p class="card-text text-justify">{{bigCard?.content}}</p>
                            <span class="card-text text-justify">Author : {{bigCard?.author}}</span> <br>
                            <span class="card-text text-justify">Published at : {{bigCard?.publishedAt |
                                date:"dd/MM/yyyy"}}</span> <br>
                            <a href={{bigCard?.url}} class="">See more</a>
                        </div>
                    </div>

                    <!-- Small card display -->
                    <div>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="image">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h5 class="fw-bold">Lastest</h5>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="">
                                        <img src={{element.urlToImage}} class="card-img-top" alt="...">
                                    </div>
                                    <h6 class="card-title my-2">{{element.title}}</h6>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="text">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="font-size: small;" class="my-2">
                                        <span class="">{{element.description}}</span> <br>
                                        <a href={{element.url}} class="">See more</a>
                                    </div>
                                </td>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            </ng-container>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>