body {
  margin: 0;
  overflow-x: hidden;
}

.ranking-sub-container {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin: 2em 0 2em 0;
}

.nav-items {
  list-style-type: none;
}

.small-txt {
  font-size: small;
}

.medium-txt {
  font-size: medium;
}

.txt-white {
  color: white;
}

.txt-active {
  color: #4cd137;
}

.txt-bold {
  font-weight: bold;
}

.txt-large {
  font-size: large;
}

.txt-center {
  text-align: center;
}

.txt-italic {
  font-style: italic;
}

.txt-justify {
  text-align: justify;
}

.cat-label {
  text-align: center;
}

.min-height-100 {
  min-height: 100vh;
}