body {
  margin: 0;
  overflow-x: hidden;
}

.ranking-sub-container {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin: 2em 0 2em 0;
}

.nav-items {
  list-style-type: none;
}

.big-txt {
  font-weight: bolder;
}

.small-txt {
  font-size: medium;
}

.cat-label {
  text-align: center;
}

.item {
  width: 25vw;
}