<div class="row justify-content-center mt-4">
    <div class="col-11 col-xl-10">
        <h1 style="text-align: center;" class="big-text">{{bigCardNews?.title}}</h1>

        <div class="row justify-content-center">

            <div class="col-12 mb-4">
                <span>{{bigCardNews?.description}}</span>
                <span style="margin-left: .5em;">{{bigCardNews?.content}}</span>
                -- Source : <span style="font-style: italic; margin: .3em;">{{bigCardNews?.source?.name}}</span>
                -- Auteur : <span style="font-style: italic; margin: .3em;">{{bigCardNews?.author}}</span>
                -- Publié le : <span style="margin: .3em;">{{bigCardNews?.publishedAt |
                    date:"dd/MM/yyyy"}}</span>
                -- <a href={{bigCardNews?.url}}>Voir l'article original</a>
            </div>

            <div class="col-12 mb-4 d-none d-xl-block">
                <img width="100%" src={{bigCardNews?.urlToImage}} alt="">

                <div class="row justify-content-around">
                    <div class="col-2 mt-4" *ngFor="let news of smallCardNews">
                        <img width="100%" src={{news.urlToImage}} alt="">
                        <h4 class="small-txt">{{news.title}}</h4>
                        <span class="d-none d-xxl-block small-txt">{{news.description}}</span>
                        <span class="small-txt"><a href={{news.url}}>voir l'article</a></span>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-4 d-flex d-xl-none justify-content-between">
                <img class="col-10" src={{bigCardNews?.urlToImage}} alt="">

                <div class="ms-3">
                    <div class="mt-4" *ngFor="let news of smallCardNews">
                        <img width="100%" src={{news.urlToImage}} alt="">
                        <h4 class="small-txt">{{news.title}}</h4>
                        <span class="d-none d-xxl-block small-txt">{{news.description}}</span>
                        <span class="small-txt"><a href={{news.url}}>voir l'article</a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12" *ngFor="let news of simpleCardNews; let i = index">

                <div class="d-flex d-xl-none mb-4 flex-column align-items-center">
                    <div class="col-7">
                        <img width="100%" src={{news.urlToImage}} alt="">
                    </div>

                    <div class="col-7 mt-2 d-flex flex-column justify-content-center">
                        <h2>{{news.title}}</h2>
                        <p style="text-align: justify;">{{news.description}}</p>
                        <p style="text-align: justify;">{{news.content}}</p>
                        <div><span>Source : </span><span style="font-style: italic;">{{news.source.name}}</span></div>
                        <div><span>Auteur : </span><span style="font-style: italic;">{{news.author}}</span></div>
                        <p style="margin-right: 0.3em;"><a href={{news.url}}>Voir l'article original</a></p>
                        <p>publié le : <span style="margin-left: 0.3em;">{{news.publishedAt | date:"dd/MM/yyyy"}}</span>
                        </p>
                    </div>
                </div>

                <div class="d-none d-xl-flex mb-4 justify-content-around"
                    [ngClass]="{'flex-row': i % 2 === 0, 'flex-row-reverse': i % 2 !== 0}">
                    <div class="col-7 col-xxl-6">
                        <img width="100%" src={{news.urlToImage}} alt="">
                    </div>

                    <div class="col-5 col-xxl-4 m-4 d-none flex-column d-xl-flex justify-content-center">
                        <h2>{{news.title}}</h2>
                        <p style="text-align: justify;">{{news.description}}</p>
                        <p style="text-align: justify;">{{news.content}}</p>
                        <div><span>Source : </span><span style="font-style: italic;">{{news.source.name}}</span></div>
                        <div><span>Auteur : </span><span style="font-style: italic;">{{news.author}}</span></div>
                        <p style="margin-right: 0.3em;"><a href={{news.url}}>Voir l'article original</a></p>
                        <p>publié le : <span style="margin-left: 0.3em;">{{news.publishedAt | date:"dd/MM/yyyy"}}</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>