<p style="text-align: center;"> Bienvenue sur l'application {{title}} </p>

<div class="container">
    <div class="content">
        <div class="img-content">
            <img src="assets/img/berries.jpg" alt="">
        </div>
        <div class="txt-content">
            <h2>Title here !</h2>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo,
                vero libero,
                quo doloribus voluptatum
                vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a sit
                beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>

            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo, vero libero,
                quo doloribus voluptatum
                vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a sit
                beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>
        </div>
    </div>

    <div class="content">
        <div class="txt-content">
            <h2>Title here !</h2>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo,
                vero libero,
                quo doloribus voluptatum
                vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a sit
                beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>

            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo, vero libero,
                quo doloribus voluptatum
                vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a sit
                beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>
        </div>
        <div class="img-content">
            <img src="assets/img/cup-of-coffee.jpg" alt="">
        </div>
    </div>

    <div class="content">
        <div class="img-content">
            <img src="assets/img/desert.jpg" alt="">
        </div>
        <div class="txt-content">
            <h2>Title here !</h2>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo,
                vero libero,
                quo doloribus voluptatum
                vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a sit
                beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>

            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo, vero libero,
                quo doloribus voluptatum
                vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a sit
                beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>
        </div>
    </div>

    <div class="content">
        <div class="txt-content">
            <h2>Title here !</h2>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo,
                vero libero,
                quo doloribus voluptatum
                vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a sit
                beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>

            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo, vero libero,
                quo doloribus voluptatum
                vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a sit
                beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>
        </div>

        <div class="img-content">
            <img src="assets/img/flower.jpg" alt="">
        </div>
    </div>
</div>