<div class="container">
    <div class="sub-container">
        <p style="text-align: center;"> Bienvenue sur l'application {{title}} </p>

        <div class="big-content">
            <div>
                <img class="big-img" src="assets/img/berries.jpg" alt="">
            </div>
            <div class="txt-content">
                <h2>Title here !</h2>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo,
                    vero libero,
                    quo doloribus voluptatum
                    vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                    perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a
                    sit
                    beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>

                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo, vero libero,
                    quo doloribus voluptatum
                    vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                    perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a
                    sit
                    beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>
            </div>
        </div>

        <div class="small-content">
            <div>
                <img class="small-img" src="assets/img/cup-of-coffee.jpg" alt="">
                <h4>Title here !</h4>
                <p>Text sources and link here !</p>
            </div>
            <div>
                <img class="small-img" src="assets/img/cup-of-coffee.jpg" alt="">
                <h4>Title here !</h4>
                <p>Text sources and link here !</p>
            </div>
            <div>
                <img class="small-img" src="assets/img/cup-of-coffee.jpg" alt="">
                <h4>Title here !</h4>
                <p>Text sources and link here !</p>
            </div>
        </div>

        <div class="simple-content">
            <div class="txt-content">
                <h2>Title here !</h2>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo,
                    vero libero,
                    quo doloribus voluptatum
                    vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                    perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a
                    sit
                    beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>

                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo, vero libero,
                    quo doloribus voluptatum
                    vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                    perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a
                    sit
                    beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>
            </div>

            <div>
                <img class="simple-img" src="assets/img/forest.png" alt="">
            </div>
        </div>

        <div class="simple-content">
            <div>
                <img class="simple-img" src="assets/img/desert.jpg" alt="">
            </div>
            <div class="txt-content">
                <h2>Title here !</h2>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo,
                    vero libero,
                    quo doloribus voluptatum
                    vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                    perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a
                    sit
                    beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>

                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo, vero libero,
                    quo doloribus voluptatum
                    vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                    perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a
                    sit
                    beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>
            </div>
        </div>

        <div class="simple-content">
            <div class="txt-content">
                <h2>Title here !</h2>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo,
                    vero libero,
                    quo doloribus voluptatum
                    vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                    perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a
                    sit
                    beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>

                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo, vero libero,
                    quo doloribus voluptatum
                    vitae obcaecati neque ab architecto laborum laudantium consectetur omnis! Doloremque assumenda
                    perferendis, aperiam illo necessitatibus at laudantium eos voluptatum repellat dolore esse cumque a
                    sit
                    beatae maxime, veniam obcaecati, dolorem voluptate nostrum nisi ea voluptates quis.</p>
            </div>

            <div>
                <img class="simple-img" src="assets/img/flower.jpg" alt="">
            </div>
        </div>
    </div>
</div>