<div class="my-4">
    <div class="mb-2 d-flex justify-content-center txt-large txt-italic">
        <span>On this page you can view the ranking of athletes by categories by fighter
            profile and
            performance
            index.</span>
        <span>The performance index is average of rankings of each fighter</span>
    </div>
    <mat-tab-group>
        <mat-tab label="Men">
            <app-men-rankings [menFlyweight]="menFlyweight" [menBantamweight]="menBantamweight"
                [menFeatherweight]="menFeatherweight" [menLightweight]="menLightweight"
                [menWelterweight]="menWelterweight" [menMiddleweight]="menMiddleweight"
                [menLightHeavyweight]="menLightHeavyweight" [menHeavyweight]="menHeavyweight">
            </app-men-rankings>
        </mat-tab>

        <mat-tab label="Women">
            <app-women-rankings [womenStrawweight]="womenStrawweight" [womenFlyweight]="womenFlyweight"
                [womenBantamweight]="womenBantamweight" [womenFeatherweight]="womenFeatherweight">
            </app-women-rankings>
        </mat-tab>

    </mat-tab-group>
</div>