<mat-tab-group>
    <mat-tab label="Classements hommes">
        <app-men-rankings [menFlyweight]="menFlyweight" [menBantamweight]="menBantamweight"
            [menFeatherweight]="menFeatherweight" [menLightweight]="menLightweight" [menWelterweight]="menWelterweight"
            [menMiddleweight]="menMiddleweight" [menLightHeavyweight]="menLightHeavyweight"
            [menHeavyweight]="menHeavyweight" [menFlyweightVictories]="menFlyweightVictories"
            [menBantamweightVictories]="menBantamweightVictories"
            [menFeatherweightVictories]="menFeatherweightVictories" [menLightweightVictories]="menLightweightVictories"
            [menWelterweightVictories]="menWelterweightVictories" [menMiddleweightVictories]="menMiddleweightVictories"
            [menLightHeavyweightVictories]="menLightHeavyweightVictories"
            [menHeavyweightVictories]="menHeavyweightVictories" [menFlyweightKoWins]="menFlyweightKoWins"
            [menFeatherweightKoWins]="menFeatherweightKoWins" [menLightweightKoWins]="menLightweightKoWins"
            [menWelterweightKoWins]="menWelterweightKoWins" [menMiddleweightKoWins]="menMiddleweightKoWins"
            [menLightHeavyweightKoWins]="menLightHeavyweightKoWins" [menHeavyweightKoWins]="menHeavyweightKoWins"
            [menFlyweightIpsg]="menFlyweightIpsg" [menBantamweightIpsg]="menFlyweightIpsg"
            [menFeatherweightIpsg]="menFlyweightIpsg" [menLightweightIpsg]="menLightweightIpsg"
            [menWelterweightIpsg]="menWelterweightIpsg" [menMiddleweightIpsg]="menMiddleweightIpsg"
            [menLightHeavyweightIpsg]="menLightHeavyweightIpsg" [menHeavyweightIpsg]="menHeavyweightIpsg"
            [menFlyweightTkdownR]="menFlyweightTkdownR" [menBantamweightTkdownR]="menBantamweightTkdownR"
            [menFeatherweightTkdownR]="menFeatherweightTkdownR" [menLightweightTkdownR]="menLightweightTkdownR"
            [menWelterweightTkdownR]="menWelterweightTkdownR" [menMiddleweightTkdownR]="menMiddleweightTkdownR"
            [menLightHeavyweightTkdownR]="menLightHeavyweightTkdownR" [menHeavyweightTkdownR]="menHeavyweightTkdownR"
            [menFlyweightTkdownD]="menFlyweightTkdownD" [menBantamweightTkdownD]="menBantamweightTkdownD"
            [menFeatherweightTkdownD]="menFeatherweightTkdownD" [menLightweightTkdownD]="menLightweightTkdownD"
            [menWelterweightTkdownD]="menWelterweightTkdownD" [menMiddleweightTkdownD]="menMiddleweightTkdownD"
            [menLightHeavyweightTkdownD]="menLightHeavyweightTkdownD" [menHeavyweightTkdownD]="menHeavyweightTkdownD"
            [menFlyweightTkdowns]="menFlyweightTkdowns" [menBantamweightTkdowns]="menBantamweightTkdowns"
            [menFeatherweightTkdowns]="menFeatherweightTkdowns" [menLightweightTkdowns]="menLightweightTkdowns"
            [menWelterweightTkdowns]="menWelterweightTkdowns" [menMiddleweightTkdowns]="menMiddleweightTkdowns"
            [menLightHeavyweightTkdowns]="menLightHeavyweightTkdowns" [menHeavyweightTkdowns]="menHeavyweightTkdowns"
            [menFlyweightSRatio]="menFlyweightSRatio" [menBantamweightSRatio]="menBantamweightSRatio"
            [menFeatherweightSRatio]="menFeatherweightSRatio" [menLightweightSRatio]="menLightweightSRatio"
            [menWelterweightSRatio]="menWelterweightSRatio" [menMiddleweightSRatio]="menMiddleweightSRatio"
            [menLightHeavyweightSRatio]="menLightHeavyweightSRatio" [menHeavyweightSRatio]="menHeavyweightSRatio"
            [menFlyweightStrikes]="menFlyweightStrikes" [menBantamweightStrikes]="menBantamweightStrikes"
            [menFeatherweightStrikes]="menFeatherweightStrikes" [menLightweightStrikes]="menLightweightStrikes"
            [menWelterweightStrikes]="menWelterweightStrikes" [menMiddleweightStrikes]="menMiddleweightStrikes"
            [menLightHeavyweightStrikes]="menLightHeavyweightStrikes" [menHeavyweightStrikes]="menHeavyweightStrikes"
            [menFlyweightSubWins]="menFlyweightSubWins" [menBantamweightSubWins]="menBantamweightSubWins"
            [menFeatherweightSubWins]="menFeatherweightSubWins" [menLightweightSubWins]="menLightweightSubWins"
            [menWelterweightSubWins]="menWelterweightSubWins" [menMiddleweightSubWins]="menMiddleweightSubWins"
            [menLightHeavyweightSubWins]="menLightHeavyweightSubWins" [menHeavyweightSubWins]="menHeavyweightSubWins">
        </app-men-rankings>
    </mat-tab>

    <mat-tab label="Classements femmes">
        <app-women-rankings [womenStrawweight]="womenStrawweight" [womenFlyweight]="womenFlyweight"
            [womenBantamweight]="womenBantamweight" [womenFeatherweight]="womenFeatherweight"
            [womenStrawweightVictories]="womenStrawweightVictories" [womenFlyweightVictories]="womenFlyweightVictories"
            [womenBantamweightVictories]="womenBantamweightVictories"
            [womenFeatherweightVictories]="womenFeatherweightVictories"
            [womenStrawweightKoWins]="womenStrawweightKoWins" [womenFlyweightKoWins]="womenFlyweightKoWins"
            [womenBantamweightKoWins]="womenBantamweightKoWins" [womenFeatherweightKoWins]="womenFeatherweightKoWins"
            [womenStrawweightIpsg]="womenStrawweightIpsg" [womenFlyweightIpsg]="womenFlyweightIpsg"
            [womenBantamweightIpsg]="womenBantamweightIpsg" [womenFeatherweightIpsg]="womenFeatherweightIpsg"
            [womenStrawweightTkdownR]="womenStrawweightTkdownR" [womenFlyweightTkdownR]="womenFlyweightTkdownR"
            [womenBantamweightTkdownR]="womenBantamweightTkdownR"
            [womenFeatherweightTkdownR]="womenFeatherweightTkdownR" [womenStrawweightTkdownD]="womenStrawweightTkdownD"
            [womenFlyweightTkdownD]="womenFlyweightTkdownD" [womenBantamweightTkdownD]="womenBantamweightTkdownD"
            [womenFeatherweightTkdownD]="womenFeatherweightTkdownD" [womenStrawweightTkdowns]="womenStrawweightTkdowns"
            [womenFlyweightTkdowns]="womenFlyweightTkdowns" [womenBantamweightTkdowns]="womenBantamweightTkdowns"
            [womenFeatherweightTkdowns]="womenFeatherweightTkdowns" [womenStrawweightSRatio]="womenStrawweightSRatio"
            [womenFlyweightSRatio]="womenFlyweightSRatio" [womenBantamweightSRatio]="womenBantamweightSRatio"
            [womenFeatherweightSRatio]="womenFeatherweightSRatio" [womenStrawweightStrikes]="womenStrawweightStrikes"
            [womenFlyweightStrikes]="womenFlyweightStrikes" [womenBantamweightStrikes]="womenBantamweightStrikes"
            [womenFeatherweightStrikes]="womenFeatherweightStrikes" [womenStrawweightSubWins]="womenStrawweightSubWins"
            [womenFlyweightSubWins]="womenFlyweightSubWins" [womenBantamweightSubWins]="womenBantamweightSubWins"
            [womenFeatherweightSubWins]="womenFeatherweightSubWins">
        </app-women-rankings>
    </mat-tab>
</mat-tab-group>